<h1>Restaurant: <%= @restaurant.name %></h1>
</br>
<p>Address: <%= @restaurant.address %></p>
<p>Phone number: <%= @restaurant.phone_number %></p>
<p>Category: <%= @restaurant.category %></p>
</br>
<p>Reviews:</p>
<ul>
  <%= @restaurant.reviews %>
</ul>

</br>
<p><%= link_to "Add a review", new_restaurant_review_path(@restaurant) %></p>
<p><%= link_to "Back", restaurants_path %></p>
